.detail__container {
    margin-top: 6rem;
}

.detail__poster {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    border-bottom: 0.1rem solid grey;
    background-color: white;
}

.detail__poster img {
    width: 10rem;
    border: 0.5rem solid white;
    position: absolute;
    top: -1.5rem;
}

.poster__header {
    width: 40%;
    display: flex;
    /* padding-left: 3rem; */
}
.potser__data {
    width: 100%;
    min-height: 17rem;
    padding-left: 12rem;
}

.data__year {
    color: rgb(173, 169, 169);
    font-weight: 400;
}

.data__rating {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    font-weight: 500;
    font-size: 1.3rem;
    border-top: 0.1rem solid grey;
    border-bottom: 0.1rem solid grey;
}

.detail__backdrop {
    height: 30rem;
    background-color: antiquewhite;
}

.detail__contents {
    width: 45%;
    padding: 1rem;
    border: 0.05px darkgrey solid;
    border-radius: 0.5rem;
    margin: 2rem auto;
    background-color: white;
}

.data_homepage {
    font-weight: 500;
    font-size: 1.2rem;
}
.data_homepage:hover {
    font-size: 1.4rem;
}

.basic_info {
    font-size: 1.4rem;
}

.info__title {
    margin-top: 2rem;
    font-size: 1.3rem;
}

.info__date_country {
    font-size: 1.1rem;
    color: darkgrey;
}

.info__genre {
    font-weight: 500;
}

.info__overview {
    padding-bottom: 2.5rem;
    border-bottom: 0.1px solid darkgrey;
}
